@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
$dark-green: hsl(122, 73%, 3%);
$off-dark-green: hsl(122, 20%, 20%);
$white-green: hsl(122, 49%, 90%);
$off-white-green: hsl(122, 15%, 60%);
$background-color: $dark-green;
$off-background-color: $off-dark-green;
$text-color: $white-green;
$off-text-color: $off-white-green;
$font-family: "Nunito Sans", sans-serif;

html {
  font-size: 16px;
}
body {
  width: 100%;
  margin: 0;
  background-color: $background-color;
  font-family: $font-family;
  color: $text-color;
}
section {
  padding: 2rem 4rem;
}
h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  margin: 0;
}
h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 4rem 0;
  text-align: center;
}
a {
  color: $off-text-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $text-color;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  line-height: 1.5rem;
}
.primary-navigation {
  padding: 3rem 4rem 4rem 4rem;
  box-sizing: border-box;
  display: flex;
  gap: 2rem;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    gap: 2rem;

    li {
      list-style: none;
      cursor: pointer;

      &:last-child {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .logo {
    cursor: pointer;
    font-size: 1.25rem;
    color: $text-color;
    font-weight: 700;
  }
}
.burger-menu {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: none;
  cursor: pointer;
  gap: 0.5rem;
  z-index: 9999;
  span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin: 0.25rem 0;
    background-color: $text-color;
    transition: all 300ms ease-in-out;
  }
  &.opened {
    position: fixed;
    span:nth-child(1) {
      transform: translateY(0.5rem) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-0.5rem) rotate(-45deg);
    }
  }
}

#Hero {
  display: flex;
  gap: 6rem;
  padding-bottom: 10rem;
  & > :first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1.2;
    p {
      color: $off-text-color;
    }
  }
  & > :last-child {
    flex: 1;
    position: relative;
  }
}
.CTA-link {
  background-color: $text-color;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: $background-color;
  &:hover {
    background-color: $off-background-color;
    color: $text-color;
  }
  transition: background-color 300ms ease-out;
}
.CTA-hero-btns {
  display: flex;
  flex-wrap: wrap;
  & > :first-child {
    color: $text-color;
    padding: 0.75rem 1rem;
    border: 0.5px solid $off-background-color;
    border-radius: 0.5rem;
  }
  gap: 1rem;
}
#Services {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.services-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  div {
    width: min(100%, 300px);
    height: 300px;
    position: relative;
    img {
      position: absolute;
      z-index: 998;
      top: 0;
      left: 0;
    }
    .service-info {
      padding: 2rem 1rem 0 1rem;
      box-sizing: border-box;
      z-index: 999;
      border: 0.5px solid $off-background-color;
      background-color: $background-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: 3rem;
        height: 3rem;
        position: relative;
      }
    }
    &:hover {
      .service-info {
        background-color: rgba(0, 0, 0, 0);
        p {
          opacity: 0;
        }
        img,
        h3 {
          transform: translateY(4rem);
        }
      }
    }
  }
}
#Gallery {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    img {
      width: min(100%, 300px);
      height: min(100%, 300px);
    }
  }
}
#Contact {
  display: flex;
  flex-direction: column;
   > div {
    display: flex;
    justify-content: space-between;
    div{
      display: flex;
      flex-direction: column;
    form {
      width: min(360px, 100%);
      padding: 1rem;
      border: 0.5px solid $off-background-color;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      input,
      textarea {
        padding: 0.5rem;
        margin-bottom: 1rem;
        background-color: $background-color;
        color: $text-color;
        border: 0.5px solid $off-background-color;
      }
      button {
        border: none;
        font-size: 1rem;
        cursor: pointer;
      }}
    }
    iframe {
      width: min(300px, 100%);
      height: 100%;
    }
  }
}
footer {
  width: 100%;
  padding: 2rem 4rem;
  border-top: 0.5px solid $off-background-color;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  p {
    margin: 0;
    font-weight: 700;
  }
  div {
    display: flex;
    gap: 0.5rem;
  }
}
@media (width < 50rem) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  section {
    padding: 2rem;
  }
  .primary-navigation {
    position: relative;
    padding: 2rem;
    ul {
      width: 100svw;
      height: 0;
      position: fixed;
      right: 0;
      top: 0;
      background-color: hsl(122, 20, 10);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: height 300ms ease-in-out;
      z-index: 1000;
      li:last-child {
        position: static;
      }
      &.opened {
        height: 100svh;
       
      }
    }
  }
  .burger-menu {
    display: block;
  }
  #Hero {
    flex-direction: column;
  }
   #Contact{
    div{
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
   }
  footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    div{
      flex-direction: column;
      align-items: center;
    }
    p{
      margin-top: 0;
    }
  }
}
